<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - NU Event Hub</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="about-section">
        <div class="logo-container">
            <a href="/">
                <img src="/images/logo.png" alt="NUEventHub Logo" class="logo">
            </a>
        </div>
        <div class="about-header">
            <h1>Welcome to NU Event Hub</h1>
        </div>
        <div class="about-mission">
            <h1>Our Mission</h1>
            <p>At NU Event Hub, our mission is simple: to foster a vibrant, engaging community at Northeastern University. We aim to make it easier for every student to discover, manage, and enjoy campus events, thus enriching their university life.</p>
        </div>
        <div class="about-offer">
            <h1>What We Offer</h1>
            <ul>
                <li><strong>Event Discovery:</strong> Dive into a wide array of events with ease. Whether you're looking for academic talks, social gatherings, or career fairs, our intuitive platform makes finding your next campus event a breeze.</li>
                <li><strong>Event Management:</strong> Got an event to share? Log in and take charge. Our platform allows you to create, update, and manage your events effortlessly, ensuring you reach your audience effectively.</li>
                <li><strong>Ticket Management:</strong> From sales to refunds, handle all aspects of your event tickets securely and efficiently. Our robust system supports all your ticketing needs, making event access smoother for everyone.</li>
            </ul>
        </div>
        <div class="about-join">
            <h1>Join Us</h1>
            <p>Get involved and stay connected with all that Northeastern University has to offer. Explore, create, and participate with NU Event Hub — where your campus events come to life!</p>
        </div>
    </div>
    <footer>
        <p>NU Event Hub © 2024</p>
    </footer>
</body>

</html>


