<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Created Successfully</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="event-success-body">
    <header>
      <a href="/"
        ><img src="/images/logo.png" alt="NUEventHub Logo" class="logo"
      /></a>
    </header>
    <div class="container">
      <h1 class="event-success-header">Event Created Successfully</h1>
      <p class="event-success-text">You've created a new event!</p>
      <p class="event-success-text">Now, create a ticket for your event.</p>
      <button
        class="event-success-button"
        onclick="location.href='/create_tickets';"
      >
        Create Ticket
      </button>
    </div>
  </body>
</html>
